body { 
  background-image: url("./images/background2.jpg")
}

*{
  box-sizing: border-box;
  font-family: fantasy;
  color: cornsilk;
   }

.headline {
    text-align: center;
    text-decoration-line: underline;
  }

.profile-pic {
    height: 150px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

.aboutme {
    font-style: italic;
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 100%;
    height:fit-content;
    padding: 5px;
    border: 5px solid rgb(3, 3, 55); 
  }
  
 .picofme {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    width: 300px;
    height: 300px;
  }

.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border: 1px solid black; 
    width: 100%; 
} 
.grid-child-element { 
    margin: 10px; 
    border: 1px solid rgba(212, 125, 11, 0.327); 
}




