body { 
  background-image: url("./images/background2.jpg")
}

* {
  box-sizing: border-box;
  font-family: fantasy;
  color: cornsilk;
   }

.headline {
    text-align: center;
    text-decoration-line: underline;
  }

.profile-pic {
    height: 150px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

.aboutme {
  max-width: 1300px;
  margin: 40px auto 0 auto;
  line-height: 165;
  padding: 20px 50px;
  display: flex;
  }
  
.intro {
  flex: 3;
  order: 2;
}

 .picofme {
  flex: 1;
  order: 1;
  }

  .qualities {
    flex: 1;
    order: 3;
  }





